fastapi
fpdf2
uvicorn
sqlalchemy
pydantic
python-dotenv
psycopg2-binary
alembic
requests
langdetect==1.0.9
transformers
torch
bertopic
scikit-learn
python-jose[cryptography]
passlib[bcrypt]
python-multipart
slowapi
python-louvain
telethon